.gradient-background {
    background: linear-gradient(300deg, #0A0A0A, #212529, #184E77);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .img-fluid{
    border-radius: 50%;
  }

  .display-4,.display-5,.text{
    font-family: "Libre Baskerville, serif";
  }
  
  input[type="range"] {
    width: 200px; 
    height: 8px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: white; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc; 
}


li{
    font-size: large;
}


